@font-face {
    font-family: 'Outfit';
    src: url("Outfit-VariableFont_wght.ttf");
}

*{
    margin: 0;
    padding: 0;   
}

body{
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #d5e1ef;
    align-items: center;
    margin-bottom: 50px;
}

.container{
    position: relative;
     width: 100%;
     max-width: 900px;
     margin: 0 auto;
     margin-top: 150px;
     padding-top: 5px;
     padding-bottom: 100px;
     background: #fff;
     border-radius: 20px;
 }
 
 .container:after{
     content: '';
     display: block;
     position: absolute;
     top: 0;
     left: 20px;
     right: 20px;
     bottom: 0;
     border-radius: 15px;
     box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
     z-index: -1;
 }